@import "tailwindcss";

/* Your theme */
:root {
  --bg: 11 18 32;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(226 232 240);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
